<div>
    <br>
    <mat-card>
      <section class='mat-typography'>
        <h2>Login</h2>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]='loginForm' (ngSubmit)="onLoginSubmit()" class='login-form'>
        <mat-form-field class="field-full-width">
          <input matInput placeholder='Email' formControlName='email' type="text">
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder='password' formControlName='password' type="password">
        </mat-form-field>
        <mat-divider></mat-divider>
        <br>
        <br>
        <button type='submit' [disabled]='loginForm.pristine || loginForm.invalid' mat-raised-button color="primary">Sign In</button>
      </form>
    </mat-card>
  </div>